@model Carrito_B.Models.Carrito

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Carrito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(m => m.Activo)</label>
                <p class="form-control-plaintext">@((Model.Activo) ? "Sí" : "No")</p>
            </div>

            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(m => m.Cliente)</label>
                <p class="form-control-plaintext">@Model.Cliente?.NombreCompleto ?? (Model.Cliente?.Apellido ?? $"Cliente {Model.ClienteId}")</p>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
